// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// base font size for html. Needed for em and rem
$base-font-size: 16px;

/// Regular font family
$primary-font: 'Frank Ruhl Libre', sans-seri !default;
$secondary-font: 'Josefin Sans', sans-serif !default;


$text-color: hsl(0, 0%, 0%) !default;
$text-light-color: hsl(0, 0%, 100%) !default;
$brand-color: hsl(356, 82%, 77%) !default;
$home-header-bg: hsl(0, 0%, 14%);

$section-padding-top: 160px !default;
$section-header-top-medium: 110px !default;
$section-header-top-small: 70px !default;
$section-header-padding-bottom: 80px !default;
$section-header-padding-bottom-medium: 60px !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 991px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '' !default;
