<section class="h-section container-fluid" id="about">
  <div class="row">
    <div class="side-col__center col-12 col-lg-6 push-lg-6 fooReveal">
      <header class="section__header--side section__header--side-left section__header">
        <h3 class="section__title">Sophia McGregor</h3>
        <h4 class="section__desc">Young and avid<br>photographer based<br>in Los Angeles</h4>
        <button class="btn">more about me</button>
      </header>
    </div>

    <div class="h-section__side-special h-section__side-special--dark col-12 col-lg-6 pull-lg-6 hidden-md-down fooReveal"></div>
  </div>
</section>
