<section class="h-section albums container-fluid" id="albums">
  <div class="row">
    <div class="side-col__center col-12 col-lg-6">
      <header class="section__header--side section__header--text-right section__header fooReveal">
        <h3 class="section__title">My albums</h3>
        <h4 class="section__desc">I love photographing<br>a multitude of places<br>and subjects</h4>
        <button class="btn">view all albums</button>
      </header>
    </div>

    <div class="albums__item-col col-12 col-lg-6 fooReveal">
        <div class="albums__item-row row">
          <div class="albums__item-col col-9">
            <div class="albums__item-row row">
              <div class="albums__item-col col-8">
                  <a class="albums__item-link venobox" href="../img/album-1.jpg" data-gall="gall1" data-title="../img 1">
                    <img src="../img/album-1.jpg" alt="" class="album__img">
                  </a>
              </div>

              <div class="albums__item-col col-4">
                  <a class="albums__item-link venobox" href="../img/album-2.jpg" data-gall="gall1" data-title="../img 3">
                    <img src="../img/album-2.jpg" alt="" class="album__img">
                  </a>
              </div>
            </div>

            <div class="albums__item-row row">
              <div class="albums__item-col col-4">
                <a class="albums__item-link venobox" href="../img/album-4.jpg" data-gall="gall1" data-title="../img 4">
                  <img src="../img/album-4.jpg" alt="" class="album__img">
                </a>


                <a class="albums__item-link venobox" href="../img/album-5.jpg" data-gall="gall1" data-title="../img 5">
                  <img src="../img/album-5.jpg" alt="" class="album__img">
                </a>
              </div>

              <div class="albums__item-col col-8">
                <a class="albums__item-link venobox" href="../img/album-6.jpg" data-gall="gall1" data-title="../img 6">
                  <img src="../img/album-6.jpg" alt="" class="album__img">
                </a>
              </div>
            </div>
          </div>

          <div class="albums__item-col col-3">
            <a class="albums__item-link venobox" href="../img/album-3.jpg" data-gall="gall1" data-title="../img 3">
              <img src="../img/album-3.jpg" alt="" class="album__img">
            </a>

            <a class="albums__item-link venobox" href="../img/album-7.jpg" data-gall="gall1" data-title="../img 7">
              <img src="../img/album-7.jpg" alt="" class="album__img">
            </a>
          </div>
        </div>
      </div>
  </div>
</section>
