<section class="h-section container-fluid" id="contact">
  <div class="row">
    <div class="side-col__center col-12 col-lg-6">
      <header class=" section__header--side section__header--side-right section__header fooReveal">
        <h3 class="section__title">Get in touch</h3>
        <h4 class="section__desc">Wanna say hello<br>or hire me for your<br>next event?</h4>
        <button class="btn">send a message</button>
      </header>
    </div>

    <div class="touch h-section__side-special h-section__side-special--brand col-12 col-lg-6">
      <form action="/" class="side-form">
        <div class="side-form__item fooReveal">
          <label class="side-form__label">email address</label>
          <input class="side-form__input" type="email" placeholder="hello@sophia.com">
        </div>

        <div class="side-form__item fooReveal">
          <label class="side-form__label">phone number</label>
          <input class="side-form__input" type="tel" placeholder="123-456-7890">
        </div>

        <div class="side-form__item fooReveal">
          <label class="side-form__label">email address</label>
          <input class="side-form__input" type="text" placeholder="@photosophia">
        </div>
      </form>
    </div>
  </div>
</section>
