<section class="home-header__wrap" id="header">
  <header class="l-header">
    <nav class="main-nav">
      <ul class="main-nav__ul">
        <li class="main-nav__item"><a href="#services" class="main-nav__link">Services</a></li>
        <li class="main-nav__item"><a href="#albums" class="main-nav__link">Albums</a></li>
        <li class="main-nav__item"><a href="#thoughts" class="main-nav__link">Thoughts</a></li>
        <li class="main-nav__item main-nav__item--logo"><a href="#header" class="main-nav__link">Sophia</a></li>
        <li class="main-nav__item"><a href="#about" class="main-nav__link">About</a></li>
        <li class="main-nav__item"><a href="#shop" class="main-nav__link">Shop</a></li>
        <li class="main-nav__item"><a href="#contact" class="main-nav__link">Contact</a></li>
      </ul>
    </nav>

    <button class="nav-btn">
      <span class="nav-btn__line"></span>
      <span class="nav-btn__line"></span>
      <span class="nav-btn__line"></span>
    </button>
  </header>

  <div class="main-slider__wrap">
    <div class="main-slider">
      <div class="main-slider__item">
        <h3 class="main-slider__text">
          I take photos <strong class="main-slider__text-big">in the woods</strong>
        </h3>
      </div>

      <div class="main-slider__item">
        <h3 class="main-slider__text">
          I take photos <strong class="main-slider__text-big">in the woods</strong>
        </h3>
      </div>

      <div class="main-slider__item">
        <h3 class="main-slider__text">
          I take photos <strong class="main-slider__text-big">in the woods</strong>
        </h3>
      </div>
    </div>
  </div>

</section>
