<section class="h-section services" id="services">
  <header class="section__header--full section__header--services section__header">
    <h3 class="section__title">My services</h3>
    <h4 class="section__desc">For me, photography is both<br>a hobby and a profession</h4>
  </header>

  <div class="services__list container">
    <div class="row">
      <div class="services__list-col col-12 col-md-4 fooReveal">
        <div class="services__item">
          <img class="services__img" src="../img/service-1.jpg" alt='service 1'>
          <h4 class="services__title">Weddings</h4>
        </div>
      </div>

      <div class="services__list-col col-12 col-md-4 fooReveal">
        <div class="services__item">
          <img class="services__img" src="../img/service-2.jpg" alt='service 2'>
          <h4 class="services__title">Events</h4>
        </div>
      </div>

      <div class="services__list-col col-12 col-md-4 fooReveal">
        <div class="services__item">
          <img class="services__img" src="../img/service-3.jpg" alt='service 3'>
          <h4 class="services__title">Parties</h4>
        </div>
      </div>
    </div>
  </div>
</section>
