<section class="h-section" id="shop">
  <header class="section__header--full section__header">
    <h3 class="section__title">My shop</h3>
    <h4 class="section__desc">Buy high-quality prints<br>of my photos</h4>
  </header>

  <div class="products__list container">
    <div class="row">
      <div class="products__item col-12 col-sm-6 col-lg-4 fooReveal">
        <div class="products__item-wrap">
          <span class="products__price">$25</span>
          <a href="../img/pic-1.jpg" class="products__link venobox"><img src="../img/pic-1.jpg" alt="pic-1" class="products__img"></a>
        </div>
      </div>

      <div class="products__item col-12 col-sm-6 col-lg-4 fooReveal">
        <div class="products__item-wrap">
          <span class="products__price">$25</span>
          <a href="../img/pic-2.jpg" class="products__link venobox"><img src="../img/pic-2.jpg" alt="pic-2" class="products__img"></a>
        </div>
      </div>

      <div class="products__item col-12 col-sm-6 col-lg-4 fooReveal">
        <div class="products__item-wrap">
          <span class="products__price">$25</span>
          <a href="../img/pic-3.jpg" class="products__link venobox"><img src="../img/pic-3.jpg" alt="pic-3" class="products__img"></a>
        </div>
      </div>

      <div class="products__item col-12 col-sm-6 col-lg-4 fooReveal">
        <div class="products__item-wrap">
          <span class="products__price">$25</span>
          <a href="../img/pic-4.jpg" class="products__link venobox"><img src="../img/pic-4.jpg" alt="pic-4" class="products__img"></a>
        </div>
      </div>

      <div class="products__item col-12 col-sm-6 col-lg-4 fooReveal">
        <div class="products__item-wrap">
          <span class="products__price">$25</span>
          <a href="../img/pic-5.jpg" class="products__link venobox"><img src="../img/pic-5.jpg" alt="pic-5" class="products__img"></a>
        </div>
      </div>

      <div class="products__item col-12 col-sm-6 col-lg-4 fooReveal">
        <div class="products__item-wrap">
          <span class="products__price">$25</span>
          <a href="../img/pic-6.jpg" class="products__link venobox"><img src="../img/pic-6.jpg" alt="pic-6" class="products__img"></a>
        </div>
      </div>

    </div>
  </div>
</section>
