<section class="h-section thoughts" id="thoughts">
  <header class="section__header--full section__header fooReveal">
    <h3 class="section__title">My thoughts</h3>
    <h4 class="section__desc">Apart from photographu,<br>I also love to write</h4>
  </header>

  <div class="container">
    <div class="thoughts__slider slick-slider--dark_arrays">
      <div class="thoughts__item fooReveal">
        <div class="thoughts__item-wrap">
          <h4 class="thoughts__title">Here's some insight about how i set up my working space</h4>
          <time datetime="2016-12-12" class="thoughts__time">December 12th, 2016</time>
          <div class="thoughts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus, officiis iste enim aliquid distinctio odio error, eveniet ad debitis tempora hic molestias reiciendis, quas voluptate, rerum at. Nihil, dolore.</div>
        </div>
      </div>

      <div class="thoughts__item fooReveal">
        <div class="thoughts__item-wrap">
          <h4 class="thoughts__title">Here's some insight about how i set up my working space</h4>
          <time datetime="2016-12-12" class="thoughts__time">December 12th, 2016</time>
          <div class="thoughts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus, officiis iste enim aliquid distinctio odio error, eveniet ad debitis tempora hic molestias reiciendis, quas voluptate, rerum at. Nihil, dolore.</div>
        </div>
      </div>

      <div class="thoughts__item fooReveal">
        <div class="thoughts__item-wrap">
          <h4 class="thoughts__title">Here's some insight about how i set up my working space</h4>
          <time datetime="2016-12-12" class="thoughts__time">December 12th, 2016</time>
          <div class="thoughts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus, officiis iste enim aliquid distinctio odio error, eveniet ad debitis tempora hic molestias reiciendis, quas voluptate, rerum at. Nihil, dolore.</div>
        </div>
      </div>

      <div class="thoughts__item fooReveal">
        <div class="thoughts__item-wrap">
          <h4 class="thoughts__title">Here's some insight about how i set up my working space</h4>
          <time datetime="2016-12-12" class="thoughts__time">December 12th, 2016</time>
          <div class="thoughts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus, officiis iste enim aliquid distinctio odio error, eveniet ad debitis tempora hic molestias reiciendis, quas voluptate, rerum at. Nihil, dolore.</div>
        </div>
      </div>

      <div class="thoughts__item fooReveal">
        <div class="thoughts__item-wrap">
          <h4 class="thoughts__title">Here's some insight about how i set up my working space</h4>
          <time datetime="2016-12-12" class="thoughts__time">December 12th, 2016</time>
          <div class="thoughts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus, officiis iste enim aliquid distinctio odio error, eveniet ad debitis tempora hic molestias reiciendis, quas voluptate, rerum at. Nihil, dolore.</div>
        </div>
      </div>
    </div>
  </div>
</section>
