.services__item {
  position: relative;


  &:hover {
    cursor: pointer;
  }

  &::before {
    @extend %animation;

    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background: hsla(0, 0%, 0%, 0.2);
  }

  &:hover::before {
    background: $brand-color;
    opacity: .7;
  }

  @media (max-width: 767px) {
    max-width: 500px;
    margin: 0 auto em(55px);

    .services__list-col:last-child & {
      margin-bottom: 0;
    }
  }
}

.services__title {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50px;
  z-index: 1;

  color: $text-light-color;
  font-family: $secondary-font;
  font-size: em(27px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}

.services__img {
  display: block;
  max-width: 100%;

  filter: grayscale(1);
}
