// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.l-footer {
  padding-top: em($section-padding-top - 50);
  padding-bottom: em($section-padding-top - 50);
  margin-top: em($section-padding-top);
  background: hsl(0, 0%, 0%);

  color: $text-light-color;

  @include for-size(desktop-down) {
    & {
      font-size: 0.8rem;
    }
  }

  @include for-size(tablet-landscape-down) {
    margin-top: em($section-padding-top);
  }

  @include for-size(phone-only) {
    padding-top: em($section-header-top-medium - 50);
    padding-bottom: em($section-header-top-medium - 50);
  }

}

.footer-section {
  padding: em(50px) 0;
  border-bottom: 1px solid #292929;
}

.footer-nav__ul {
  @extend %reset-list;

  text-align: center;
}

.footer-nav__li {
  @extend %inline-block-element;

  @include for-size(small-phone-only) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.footer-nav__link {
  @include transition(color .25s);

  padding: 0 em(20px);

  color: $text-light-color;
  font: 700 rem(14px) $secondary-font;
  text-transform: uppercase;

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }

  @include for-size(small-phone-only) {
    font-size: rem(18px);
  }
}

.footer-socials {
  @extend %reset-list;

  text-align: center;
}

.footer-socials__li {
  @extend %inline-block-element;

  @include for-size(small-phone-only) {
    width: 31%;
  }
}

.footer-socials__link {
  margin: 0 em(25px);

  color: $text-light-color;
  font-size: em(51px);

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }

  @include for-size(tablet-landscape-down) {
    margin: 0 em(20px);
  }
}

.footer-copyright {
  text-align: center;
  font-size: rem(28px);
  font-weight: 300;
}
