.main-nav {
  @extend %animation;

  position: relative;
  text-align: center;

  @include for-size(tablet-landscape-down) {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(36, 36, 36, .9);
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;

    opacity: 0;
    z-index: -1;

    .is_active & {
      width: 100%;
      height: 100%;
      opacity: 1;
      z-index: 1;
    }
  }
}

.main-nav__ul {
  margin: 0;
  padding: 0 44px;
  display: inline-block;

  @include for-size(tablet-landscape-up) {
    background: $home-header-bg;
  }
}

.main-nav__item {
  display: inline-block;
  vertical-align: middle;

  @include for-size(tablet-landscape-down) {
    display: block;
  }
}

.main-nav__link {
  @include transition(color .25s);
  @include on-event {
    color: $text-light-color;
  }

  display: block;
  padding: 0 em(19px);

  color: $text-light-color;
  font: 700 rem(14px) $secondary-font;
  text-transform: uppercase;

  &:hover {
    color: $brand-color;
  }

  &.is_active {
    color: $brand-color;
  }

  .main-nav__item--logo & {
    font: 900 rem(27px) $primary-font;

    @include for-size(tablet-landscape-down) {
      font-family: $secondary-font;
      font-size: rem(35px);
    }
  }

  @include for-size(tablet-landscape-up) {
    .is_fixed & {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  @include for-size(tablet-landscape-down) {
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: rem(35px);
  }
}

.nav-btn {
  width: 40px;
  height: 21px;
  border: none;
  background: $home-header-bg;
  margin: 11px 18px;
  float: right;

  position: relative;

  @include for-size(tablet-landscape-up) {
    display: none;
  }
}

.nav-btn__line {
  @extend %animation;

  display: block;
  width: 100%;
  height: 3px;
  background: #fff;

  position: absolute;
  left: 0;
  z-index: 2;

  opacity: 1;

  &:nth-child(1) {
    top: 0;

    .is_active & {
      transform: translateY(10px) translateX(0) rotate(45deg);
    }
  }

  &:nth-child(2) {
      top: 9px;

      .is_active & {
        opacity: 0;
      }
  }

  &:nth-child(3) {
      top: 18px;

      .is_active & {
        transform: translateY(-8px) translateX(0px) rotate(-45deg);
      }
  }
}
