<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= require('html-loader!./templates/preloader-head.html') %>

</head>
<body>
  <%= require('html-loader!./templates/header.html') %>

  <%= require('html-loader!./templates/services.html') %>

  <%= require('html-loader!./templates/albums.html') %>

  <%= require('html-loader!./templates/thoughts.html') %>

  <%= require('html-loader!./templates/about.html') %>

  <%= require('html-loader!./templates/shop.html') %>

  <%= require('html-loader!./templates/contact.html') %>

  <%= require('html-loader!./templates/footer.html') %>

  <%= require('html-loader!./templates/preloader.html') %>
</body>
</html>
